00_Security Health  Safety Sustainability MEMO for ALL BTQ Employees _ 2022_V2.pdf
RawData.xlsx
SummaryData.xlsx
Metrics for evaluating summarization of texts performed by Transformers_ how to evaluate the quality of summaries _ by Fabiano Falcão _ Medium.pdf
EvaluatedData.xlsx
BERTScore and ROUGE_ Two Metrics for Evaluating Text Summarization Systems _ by Hatice Özbolat _ Medium.pdf
Summaries/
Training Matrix Results.xlsx